
h1 {
    border-bottom: 8px solid black;
    display: inline-block;
    color: black;
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 1px white solid;
}

.blog {
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 2rem;
    color: black;
    padding-bottom: 1rem;
}

.blog img{
    padding-bottom: 2rem;
    height:25%;
    width: 100%;
    justify-content: space-evenly;
}

footer {
    left: 0;
    width: 100%;
    background-color:#404040;
    color: white;
    text-align: center;
    padding: 3px;
}